.container {
  // padding: 70px;
  padding-top: 70px;
}

.title {
  text-align: center;
  padding-top: 50px;
}

/* Judul utama */
.title_main {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ef4f01;
  text-transform: uppercase;
}

.kanban_wrapper {
  margin: 20px 0;
}
